<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :titile %><br>
    <%= f.text_field :titile %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.select :restaurant_id, @restaurants %>
    <%= link_to 'レストランを追加する', new_restaurant_path %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :time_zone %><br>
    <%= f.select :time_zone, [['昼', '昼'],['夜','夜']] %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.select :amount, @price_zone %>
  </div>
  <div class="field">
    <%= f.label :total_eval %><br>
    <%= f.select :total_eval, @evaluation %>
  </div>
  <div class="field">
    <%= f.label :quality_eval %><br>
    <%= f.select :quality_eval, @evaluation %>
  </div>
  <div class="field">
    <%= f.label :service_eval %><br>
    <%= f.select :service_eval, @evaluation %>
  </div>
  <div class="field">
    <%= f.label :atomos_eval %><br>
    <%= f.select :atomos_eval, @evaluation %>
  </div>
  <div class="field">
    <%= f.label :drink_eval %><br>
    <%= f.select :drink_eval, @evaluation %>
  </div>
  <div class="field">
    <%= f.label :partner_eval %><br>
    <%= f.select :partner_eval, @evaluation %>
  </div>
  <div class="field">
    <%= f.label :visit_date %><br>
    <%= f.date_field :visit_date %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <%= field_set_tag 'ハッシュタグ' do %>
    <%= fields_for @post.hashtag do |h| %>
      <div class="field">
        <%= h.hidden_field :post_id %>
        <%= h.label :couple %>
        <%= h.check_box :couple, { class: 'chk' }, "true", "false" %>
      </div>
      <div class="field">
        <%= h.label :firstdate %>
        <%= h.check_box :firstdate, { class: 'chk' }, "true", "false" %>
      </div>
      <div class="field">
        <%= h.label :onesidelove %>
        <%= h.check_box :onesidelove, { class: 'chk' }, "true", "false" %>
      </div>
      <div class="field">
        <%= h.label :confession %>
        <%= h.check_box :confession, { class: 'chk' }, true, false %>
      </div>
      <div class="field">
        <%= h.label :lunch %>
        <%= h.check_box :lunch, { class: 'chk' }, true, false %>
      </div>
      <div class="field">
        <%= h.label :cafe %>
        <%= h.check_box :cafe, { class: 'chk' }, true, false %>
      </div>
      <div class="field">
        <%= h.label :dinner %>
        <%= h.check_box :dinner, { class: 'chk' }, true, false %>
      </div>
      <div class="field">
        <%= h.label :aniversary %>
        <%= h.check_box :aniversary, { class: 'chk' }, true, false %>
      </div>
      <div class="field">
        <%= h.label :oneyear_ani %>
        <%= h.check_box :oneyear_ani, { class: 'chk' }, true, false %>
      </div>
      <div class="field">
        <%= h.label :onemonth_ani %>
        <%= h.check_box :onemonth_ani, { class: 'chk' }, true, false %>
      </div>
      <div class="field">
        <%= h.label :xmas %>
        <%= h.check_box :xmas, { class: 'chk' }, true, false %>
      </div>
      <div class="field">
        <%= h.label :valentine %>
        <%= h.check_box :valentine, { class: 'chk' }, true, false %>
      </div>
      <div class="field">
        <%= h.label :whiteday %>
        <%= h.check_box :whiteday, { class: 'chk' }, true, false %>
      </div>

    <% end %>
  <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
