<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <!--Start Carousel-->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag 'slider2.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'slider1.jpeg' %>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><%= image_tag 'arrow.png', :alt =>"Arrow" %></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><%= image_tag 'arrow2.png', :alt =>"Arrow" %></a>
    </div>
  <!--End Carousel-->
  <hr>
  <!--Start second row of columns-->
  <div class="row">
  <% @posts.each do |post| %>
    <div class="span6 thumb-list">
      <a rel="lightbox[secondary]" href="img/starbar.jpg"><img src="img/starbar.jpg" alt="Thumbnail" style="width: 300px; height: 150px;"></a>
      <h3><a href="#">STRABAR</a></h3>
      <p>総合評価：<span class="starlevel5 star50">　　　　　　</span>(1)</p>
      <p>近畿大学　文芸学部 4回</p>
      <p>エリア：大阪・福島</p>
      <p>予算：コース　2人で6000-7000円</p>
      <%= link_to '続きを見る', post , :class => 'btn' %>
    </div>
    <% end %>
  </div>
</div><!-- container-fluid -->
