<p id="notice"><%= notice %></p>
<%= debug(@post) %>
<%= debug(@post.hashtag) %>
<p>
  <strong>Titile:</strong>
  <%= @post.titile %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Restaurant Name:</strong>
  <%= @post.restaurant.name %>
</p>

<p>
  <strong>Restaurant Address:</strong>
  <%= @post.restaurant.address %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @post.time_zone %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @post.amount %>
</p>

<p>
  <strong>Total eval:</strong>
  <%= @post.total_eval %>
</p>

<p>
  <strong>Quality eval:</strong>
  <%= @post.quality_eval %>
</p>

<p>
  <strong>Service eval:</strong>
  <%= @post.service_eval %>
</p>

<p>
  <strong>Atomos eval:</strong>
  <%= @post.atomos_eval %>
</p>

<p>
  <strong>Drink eval:</strong>
  <%= @post.drink_eval %>
</p>

<p>
  <strong>Partner eval:</strong>
  <%= @post.partner_eval %>
</p>

<p>
  <strong>Visit date:</strong>
  <%= @post.visit_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>
<p>
  <%= @post.hashtag.couple %>
  <%= @post.hashtag.firstdate %>
  <%= @post.hashtag.onesidelove %>
  <%= @post.hashtag.confession %>
  <%= @post.hashtag.lunch %>
  <%= @post.hashtag.cafe %>
  <%= @post.hashtag.dinner %>
  <%= @post.hashtag.aniversary %>
  <%= @post.hashtag.oneyear_ani %>
  <%= @post.hashtag.onemonth_ani %>
  <%= @post.hashtag.xmas %>
  <%= @post.hashtag.valentine %>
  <%= @post.hashtag.whiteday %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
